.rank{
  text-align: center;
  margin-top: 24px;
  margin-bottom: 20px;
}

.country{
  text-align: center;
  margin-top: 24px;
  margin-bottom: 20px;
}

.p_name{
  text-align: center;
  margin-top: 24px;
  margin-bottom: 20px;

}
.score{
  text-align: center;
  margin-top: 24px;
  margin-bottom: 20px;
}

.head{
  background-color: #B6B6B4;
  height: 85px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: #787878;
}

.players{
  background-color: #E5E4E2;
  height: 85px;
  border-radius: 5px;
  border-style: solid;
  border-width: 0px thin thin thin;
  border-color: #787878;
}
