/*


*/


/* --------------------------------------
   Layout
   -------------------------------------- */

#Quizzer{
  background-color: rgba(118, 88, 222, 0.7);
  text-align:center;
}
#Name{
  background-color:rgba(28, 72, 157, 0.27);
  text-align:center;
  background-image: url("../../images/images.jpg");
}
#features{
  background-image: url("../../images/images.jpg");
  text-align: center;
}
#cent{
    text-align: center:  
}
#Games
{
  text-align: center:
}
.topic-caption
{
  text-align: center;
}

#features img
{
  margin:0px 0px 0px;
}
#inputMessage{
  margin-bottom: 15px;
}

footer
{
  background:#333;
  color:#eee;
  font-size:14px;
  padding:30px;
}
/* --------------------------------------
   Typography
   -------------------------------------- */

body{
     -webkit-font-smoothing:antialised;
     text-rendering: optimizeLegibility;
   }


/* --------------------------------------
   Navbar
   -------------------------------------- */



/* --------------------------------------
   Carousel
   -------------------------------------- */


/* --------------------------------------
   Global Styles
   -------------------------------------- */


.thumbnails {
	margin: 20px 0;
}

.thumbnail {
	position: relative;
}

.thumbnail h3 {
	font-size: 16px;
	margin: 0 0 10px;
	line-height: 20px;
  text-align: center;
}
.thumbnail .class {
	font-size: 22px;
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 10px;
}

.thumbnail .price sup {
	font-weight: normal;
	font-size: 12px;
}




/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
.thumbnail .price
{
  font-size: 5px;
}
.thumbnail .price .sup
{
  font-size:5px;
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
.thumbnail .price
{
  font-size: 10px;
}
.thumbnail .price .sup
{
  font-size:10px;
}
}


/* Large desktop */
@media (min-width: 1200px) {


}
