.topic-name{
  border:2px solid black;
  text-align: center;
}
.topic-description{
  border:2px solid black;
  text-align: center;
}

.topic-column{
  border:2px solid black;
  padding: 10px;
  }
.topic-icon{

  border:2px solid yellow;
  }

.topic-icon img{
  border-radius: 20px;
  margin: auto;
}

.level{
  border:2px solid black;
}

.wins{
  border:2px solid black;
}

.losses{
  border:2px solid black;
}

.leaderboard{
  margin:5px 0;
  font-size: 22px;
  border:2px solid yellow;
}
