<html>
<head>
  <title>Category</title>
  <!-- Mobile viewport optimized -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Bootstrap CSS -->
  <script src="/js/jquery-2.1.4.js"></script>

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/category-style.css" rel="stylesheet">
</head>

<body>
  <div class="container">

    <div class="navbar navbar-fixed-top">

      <div class="heading pull-left"><span id="heading-name">Topic Store</span></div>
      <button type="submit" class="btn btn-default pull-right search-topic"><span class="glyphicon glyphicon-search"></span></button>

    </div><!--end navbar-->



    <div class="content">
      <div class="row topic-row">



      </div><!--end row-topic-->

    </div><!--end content-->

  </div>
  <!-- Bootstrap JS -->
  <script src="/js/bootstrap.min.js"></script>

  <!-- Custom JS -->

  <script src="/js/jquery-2.1.4.js"></script>

  <script src="/js/category.js"></script>

</body>
</html>
