<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport' />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/quizPlayer.css">
  <title>Document</title>
</head>
<body>
    <div class="row" id="statusInfo">
      <div class="col-xs-4 col-sm-4 myPadding">
        <button type="button" class="btn btn-large btn-success btn-block myPadding" id="correct-answers">User</button>
      </div>
      <div class="col-xs-3 col-sm-3 myPadding">
        <button type="button" class="btn btn-large btn-danger btn-block myPadding" id="incorrect-answers">Not</button>
      </div>
      <div class="col-xs-5 col-sm-5 myPadding">
        <button type="button" class="btn btn-large btn-primary btn-block myPadding" id="unanswered">Found</button>
      </div>
    </div><!-- others status -->

<script type="text/javascript"  src="js/bootstrap.min.js"></script>
</body>
</html>
