<html>
  <head>
    <title>Leaderboard</title>
    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <script src="/js/jquery-2.1.4.js"></script>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/leaderboard.css" rel="stylesheet">
  </head>

  <body>

    <div class="container" id="main">
      <div class="row" id="header">
        <div class="col-xs-12 col-sm-12 page-header">
          <h1>Leaderboard  <small>All Domains</small></h1>
        </div>
      </div>

      <div class="row head" id="board">
          <div class="col-xs-3 col-sm-3 rank">Rank</div>
          <div class="col-xs-3 col-sm-3 country">Country</div>
          <div class="col-xs-3 col-sm-3 score">Score</div>
          <div class="col-xs-3 col-sm-3 p_name">Player Name</div>
      </div>

      <div class="row players" >
          <div class="col-xs-3 col-sm-3 rank">0</div>
          <div class="col-xs-3 col-sm-3 country">default</div>
          <div class="col-xs-3 col-sm-3 score">000</div>
          <div class="col-xs-3 col-sm-3 p_name">quiz player</div>
      </div>

      <div class="row players" >
          <div class="col-xs-3 col-sm-3 rank">0</div>
          <div class="col-xs-3 col-sm-3 country">default</div>
          <div class="col-xs-3 col-sm-3 score">000</div>
          <div class="col-xs-3 col-sm-3 p_name">quiz player</div>
      </div>

      <div class="row players">
          <div class="col-xs-3 col-sm-3 rank">0</div>
          <div class="col-xs-3 col-sm-3 country">default</div>
          <div class="col-xs-3 col-sm-3 score">000</div>
          <div class="col-xs-3 col-sm-3 p_name">quiz player</div>
      </div>

      <div class="row players">
          <div class="col-xs-3 col-sm-3 rank">0</div>
          <div class="col-xs-3 col-sm-3 country">default</div>
          <div class="col-xs-3 col-sm-3 score">000</div>
          <div class="col-xs-3 col-sm-3 p_name">quiz player</div>
      </div>

      <div class="row players">
          <div class="col-xs-3 col-sm-3 rank">0</div>
          <div class="col-xs-3 col-sm-3 country">default</div>
          <div class="col-xs-3 col-sm-3 score">000</div>
          <div class="col-xs-3 col-sm-3 p_name">quiz player</div>
      </div>

      <div class="row players">
          <div class="col-xs-3 col-sm-3 rank">0</div>
          <div class="col-xs-3 col-sm-3 country">default</div>
          <div class="col-xs-3 col-sm-3 score">000</div>
          <div class="col-xs-3 col-sm-3 p_name">quiz player</div>
      </div>
      <br><br>

      <script src="/js/bootstrap.min.js"></script>
      <!-- Custom JS -->
      <script src="/js/jquery-2.1.4.js"></script>
      <script src="/js/leaderboard.js"></script>
    </div>
  </body>
</html>
