<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport' />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/quizPlayer.css">
  <title>Document</title>
</head>
<body>
  <div class="container" id="main">
    <div class="navbar">
      <div class="row">
        <div class="col-sm-5 col-xs-5 pull-left myStatus">
          <h4 class="pull-left"><strong>#1</strong></h4>
          <img src="images/userProfileImages/akshayk.jpg" alt="" class="img-circle pull-left"/>
          <h5 class="score pull-left" id="top-score">0</h5>
        </div>
        <div id="timer" class="col-sm-2 col-xs-2 myStatus"></div>

        <div class="pull-right col-sm-5 col-xs-5 myStatus">
          <h5 class="score pull-right" id="myScore">0</h5>
          <img src="images/userProfileImages/akshay.jpg" alt="" class="img-circle pull-right"/>
          <h4 class="pull-right" id="myRank"><strong>#143</strong></h4>
        </div>
      </div>
    </div><!--end navigation bar -->

    <div class="row" id="statusInfo">
      <div class="col-xs-4 col-sm-4 myPadding">
        <button type="button" class="btn btn-large btn-success btn-block myPadding" id="correct-answers">Correct 0</button>
      </div>
      <div class="col-xs-3 col-sm-3 myPadding">
        <button type="button" class="btn btn-large btn-danger btn-block myPadding" id="incorrect-answers">Wrong 0</button>
      </div>
      <div class="col-xs-5 col-sm-5 myPadding">
        <button type="button" class="btn btn-large btn-primary btn-block myPadding" id="unanswered">Unattempted 1</button>
      </div>
    </div><!-- others status -->

    <div class="row" id="questionInfo">
      <div class="col-xs-12 col-sm-12" id="questionInfoPanel">
        <h4><strong></strong></h4>
        <!-- <img src="akshay.jpg" alt=""> -->
      </div>
    </div><!-- end question info -->

    <div class="row myRow">

    </div>

  </div><!--End Answers -->

</div><!-- end container -->
<div id="scoreBoard">
  14
</div>
<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
<!-- <script type="text/javascript" src="bootstrap/js/modernizr-2.6.2.min.js"></script> -->
<script type="text/javascript"  src="js/bootstrap.min.js"></script>
<script type="text/javascript"  src="js/quizPlayer.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://192.168.1.28:3000');
    socket.on('connect', function(data) {
        console.log("socket to client connected");
        socket.emit('join', 'Hi I am about to joining the game');
    });

    socket.on('not_enough',function(data){
      console.log(data);
    });
    socket.on('startGame', function(data){
      console.log(data);
      startGame();
    });
</script>
</body>
</html>
