
<!--Topic-main-front page that we get on clicking topic icon-->
<!DOCTYPE html>

<html>
	<head>

		<!-- Website Title & Description for Search Engine purposes -->
		<title>Topic Store</title>
		<meta name="description" content="">

		<!-- Mobile viewport optimized -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Bootstrap CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-glyphicons.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="/css/topics-main-style.css" rel="stylesheet">

		<!-- Include Modernizr in the head, before any other Javascript -->
		<script src="/js/modernizr-2.6.2.min.js"></script>

	</head>
	<body>

	<div class="container" id="main">


		<div class="navbar navbar-fixed-top">

			<div class="heading pull-left"><span id="heading-name">Topic Store</span></div>
			<button type="submit" class="btn btn-default pull-right search-topic"><span class="glyphicon glyphicon-search"></span></button>

		</div><!--end navbar-->

     <div class="content">
	   <div class="row collection-widget">

			 <div class="row">

			 <h4 class ="topic-category-name col-xs-9 pull-left ">Topic Category Name</h4>

			 <a href="/topicsHandler/category"  class="col-xs-3 btn btn-default more-button pull-right">More..</a>

       </div>

       <div class="row topics-container">


				 <div class="topics-container-inside">

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

<div>
						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 </div>
						 <div>
						 <a href=""><span class="category-name">Hello World</span></a>
						 </div>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->
							<div>
						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 </div>
						 <div>
						 <a href=""><span class="category-name">Hello World</span></a>
						</div>
				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

			 </div><!--end topics-container-inside-->

			</div><!--end topics-container-->


	   </div><!--end collection-widget-->

		 <div class="row collection-widget">

			 <div class="row">

			 <h4 class ="topic-category-name col-xs-9 pull-left ">Topic Category Name</h4>

			 <a href="/topicsHandler/category" class="col-xs-3 btn btn-default more-button pull-right">More..</a>

       </div>

       <div class="row topics-container">


				 <div class="topics-container-inside">

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

					 <div>
					 	<a href=""><span class="topic-name">Hello World</span><br/></a>
					 </div>

						 <div>
						 <a href=""><span class="category-name">Hello World</span></a>
							</div>
				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

			 </div><!--end topics-container-inside-->

			</div><!--end topics-container-->


	   </div><!--end collection-widget-->


		 <div class="row collection-widget">

			 <div class="row">

			 <h4 class ="topic-category-name col-xs-9 pull-left ">Topic Category Name</h4>

			 <a href="/topicsHandler/category" class="col-xs-3 btn btn-default more-button pull-right">More..</a>

				</div>

				<div class="row topics-container">


				 <div class="topics-container-inside">

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

					 <div>
						<a href=""><span class="topic-name">Hello World</span><br/></a>
					 </div>

						 <div>
						 <a href=""><span class="category-name">Hello World</span></a>
							</div>
				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

			 </div><!--end topics-container-inside-->

			</div><!--end topics-container-->


		 </div><!--end collection-widget-->

		 <div class="row collection-widget">

			 <div class="row">

			 <h4 class ="topic-category-name col-xs-9 pull-left ">Topic Category Name</h4>

			 <a href="/topicsHandler/category" class="col-xs-3 btn btn-default more-button pull-right">More..</a>

				</div>

				<div class="row topics-container">


				 <div class="topics-container-inside">

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topics/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

					 <div>
						<a href=""><span class="topic-name">Hello World</span><br/></a>
					 </div>

						 <div>
						 <a href=""><span class="category-name">Hello World</span></a>
							</div>
				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

			 </div><!--end topics-container-inside-->

			</div><!--end topics-container-->


		 </div><!--end collection-widget-->

		 <div class="row collection-widget">

			 <div class="row">

			 <h4 class ="topic-category-name col-xs-9 pull-left ">Topic Category Name</h4>

			 <a href="/topicsHandler/category" class="col-xs-3 btn btn-default more-button pull-right">More..</a>

				</div>

				<div class="row topics-container">


				 <div class="topics-container-inside">

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

					 <div>
						<a href=""><span class="topic-name">Hello World</span><br/></a>
					 </div>

						 <div>
						 <a href=""><span class="category-name">Hello World</span></a>
							</div>
				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

				 <div class="topic col-xs-3">
					 <div class="topic-icon">
						 <a href="/topicsHandler/topic-play"><img src="images/topics/category1.png" alt=""></a>
					 </div><!--end topic-icon-->

						 <a href=""><span class="topic-name">Hello World</span><br/></a>
						 <a href=""><span class="category-name">Hello World</span></a>

				 </div><!--end topic-->

			 </div><!--end topics-container-inside-->

			</div><!--end topics-container-->


		 </div><!--end collection-widget-->





	<!-- All Javascript at the bottom of the page for faster page loading -->
			<script src="/js/jquery-2.1.4.js"></script>
	<!-- Bootstrap JS -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- Custom JS -->

	<script src="/js/jquery-2.1.4.js"></script>

	<script src="/js/topics-main.js"></script>

</div><!--end content-->

</div><!--end main-->

	</body>
</html>
