<html>
  <head>
    <title>Category</title>
    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <script src="js/jquery-2.1.4.js"></script>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/usertopicsstyle.css" rel="stylesheet">
  </head>

<body>
  <div class="container">

    <div class="navbar navbar-fixed-top">

			<div class="heading"><span id="heading-name">Followed Topics</span></div>

		</div><!--end navbar-->

    <br><br><br>



 <div class="content">
 <div class="row">

   <div class="col-sm-4 ">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span class="topic-name">Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class=" col-xs-3">
    <a href=""><small>The world</small></a>
  </div><!--end topic-category-->
  </div><!--end topic-->

  <div class="col-sm-4 ">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span class="topic-name">Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class=" col-xs-3">
    <a href=""><small>The world</small></a>
  </div><!--end topic-category-->
  </div><!--end topic-->

  <div class="col-sm-4 ">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span class="topic-name">Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class="col-xs-3">
    <a href="">The world</a>
  </div><!--end topic-category-->
  </div><!--end topic-->
</div><!--end row-topic-->

<div class="row ">

  <div class="col-sm-4 topic">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span >Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class=" col-xs-3" >
    <a href="">The world</a>
  </div><!--end topic-category-->
  </div><!--end topic-->

  <div class="col-sm-4 ">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span>Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class=" col-xs-3">
    <a href="">The world</a>
  </div><!--end topic-category-->
  </div><!--end topic-->

  <div class="col-sm-4">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span>Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class=" col-xs-3">
    <a href="">The world</a>
  </div><!--end topic-category-->
  </div><!--end topic-->
</div><!--end row-topic-->

<div class="row ">

  <div class="col-sm-4 ">
    <a href="">
    <div class="col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span>Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class=" col-xs-3">
    <a href=""><small>The world</small></a>
  </div><!--end topic-category-->
</div><!--end topic-->

  <div class="col-sm-4 ">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span >Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class=" col-xs-3">
    <a href=""><small>The world</small></a>
  </div><!--end topic-category-->
  </div><!--end topic-->

  <div class="col-sm-4">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span>Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class=" col-xs-3">
    <a href=""><small>The world</small></a>
  </div><!--end topic-category-->
  </div><!--end topic-->
</div><!--end row-topic-->
<div class="row ">

  <div class="col-sm-4 ">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span >Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class=" col-xs-3">
    <a href=""><small>The world</small></a>
  </div><!--end topic-category-->
  </div><!--end topic-->

  <div class="col-sm-4 ">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span>Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class="col-xs-3">
    <a href=""><small>The world</small></a>
  </div><!--end topic-category-->
  </div><!--end topic-->

  <div class="col-sm-4 ">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span>Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class=" col-xs-3">
    <a href="">The world</a>
  </div><!--end topic-category-->
  </div><!--end topic-->
</div><!--end row-topic-->
<div class="row ">

  <div class="col-sm-4 ">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span>Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class="col-xs-3">
    <a href="">The world</a>
  </div><!--end topic-category-->
  </div><!--end topic-->

  <div class="col-sm-4">
    <a href="">
    <div class="col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span >Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class=" col-xs-3">
    <a href="">The world</a>
  </div><!--end topic-category-->
  </div><!--end topic-->

  <div class="col-sm-4">
    <a href="">
    <div class=" col-xs-3">
       <img src="images/topics/cricket.png" class="img-responsive img-circle">
    </div><!--end topic-icon-->
    <div class=" col-xs-6">
        <span>Temple Run</span>
    </div><!--end topic-data-->
    </a>
    <div class="col-xs-3">
    <a href="">The world</a>
  </div><!--end topic-category-->
  </div><!--end topic-->
</div><!--end row-topic-->


</div><!--end content-->

</div>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom JS -->

<script src="js/jquery-2.1.4.js"></script>

<!--<script src="js/category-js.js"></script>-->

</body>
</html>
