col-xs-12 img{
  width: 70%;
  height: 72%;
  margin: 0% 15%;
  border-radius: 20px;
  padding: 2%;
}

.questionImage{
  width: 70%;
  height: 72%;
  margin: 0% 15%;
  border-radius: 20px;
  padding: 2%;
}

.questionText{
  text-align: center;
  border-width:thin;
  border-style:solid;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
  height: 28%;
  margin: 0%;
}

#questionInfoPanel h4{
  text-align: center;
  border-width:thin;
  border-style:solid;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
  height: 28%;
  margin: 0%;
}

#questionInfoPanel{
  height: 100%;
}

body{
  background-color: #DDD;
  margin: 0px;
  overflow: scroll;
}

.myRow{
  margin-top: 2%;
  height: 20%;
}

.btn{
  white-space: normal; !important;
}

.btn-1{
  white-space: normal; !important
  overflow:hidden;
  height: 100%;
  font-weight: bold;
  margin: 1%;
}

.centeredButton{
  margin-left: 25%;
  margin-right: 25%;
}

.myOptions{
  width: 50%;
  padding: 0.5%;
}

#main{
  height: 100%;
}

#timer{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  color: rgb(254, 0, 0);
}

.img-circle{
  width: 38%;
  border-width:thin;
  border-style:solid;
  border-color: black;
}

#statusInfo{
  height: 8%;
}

#questionInfo{
  height: 58%;
}

.navbar{
  height: 8%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.myStatus{
  padding-left: 0px;
  padding-right: 0px;
}

.myStatus h5{
  font-weight: bold;
  padding: 10px 3px;
}

.myStatus h4{
  padding: 8px 3px;
  text-decoration: underline;
}

.myPadding{
  padding-left: 2px;
  padding-right: 2px;
}

.score{
  padding-top: 15px;
}

#scoreBoard{
  position: absolute;
  top: 50%;
  left: 45%;
  font-size: 50px;
  color: #DDD;
  text-shadow: 2px 2px black;
  font-weight: bolder;
  opacity: 0;
  text-align: center;
}

@media (min-width: 1200px) {
  body{
    background-color: white;
    height: 500px;
  }
  .container{
    border-style: solid;
    border-width: medium;
    border-color: #AAA;
    background-color: #DDD;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 20px;
    padding: 20px;
  }
  #questionInfoPanel h4{
    border-color: #AAA;
    border-width: medium;
  }
}
