.topic-name{
  text-align: center;
}

.topic-description{
  text-align: center;
}

.topic-column{
  padding: 10px;
}

.topic-icon{
}

.topic-icon img{
  margin: auto;
  border-radius: 20px;
}

.level{
}

.wins{
}

.losses{
}

.leaderboard{
  margin:5px 0;
  padding: 0;
  text-align: center;
  border: 2px solid black;
}

.leaderboard label{
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.followers {
  margin: 5px 0;
  font-size: 20px;
  text-align: center;
}

.number-followers{
  text-align: left;
  margin: 0;
  padding: 0;
}

.follow{
  text-align: left;
}

.followers button{
  width:100%;
}

.play-button{
}

.play-button button{
  width: 100%;
  font-size: 22px;
}
