/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com


*/

/* --------------------------------------
   Navbar
   -------------------------------------- */

   .navbar{
     background: grey;
     color: white;
     text-align: center;
   }


   .heading{
    margin: 10px;
    margin-left: 50px;
   }


   #heading-name{
     font-size: 20px;
     margin: 10px;
     margin-top: 40px;
   }

   .search-topic{
     margin: 10px;
   }
/* --------------------------------------
  topics-container
  -------------------------------------- */


  .collection-widget{
    border:2px solid black;
    padding: 20px;
    border-radius: 15px;
    margin: 5px 1px;
  }

  .topics-container{
    margin-top: 10px;
    text-align: center;
  }

  .topics-container-inside{
  }

  .topic-category-name{
  }

  .more-button{
    border: 2px solid red;
    border-radius: 5px;
    background: white;
    color:red;
  }

  .topic{
    width:20%;
    float: left;
    text-align: center;
    padding: 0 5px;
    line-height: 0.8;
  }

  .topic-name{
    font-size: 10px !important;
    text-align: center;
    font-weight: bold;
  }

  .category-name{
    font-size: 9px;
    font-style: italic;
  }


  .topic-icon img{
    width: 100%;
    height: 100%;
    border-radius: 10px
  }

  .image-widget img{
    width: 100%;
    height:100%;
  }

  .image-widget{
    border:2px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 1px;
  }


/* --------------------------------------
   Layout
   -------------------------------------- */

   .content{
     margin-top: 60px;
   }


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */


/* Landscape phone to portrait tablet */


@media (max-width: 480px) {


}

@media (max-width: 768px) {


}


/* Large desktop */
@media (min-width: 1200px) {


}
